<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fetch-my-yearbook</title>
</head>

<body>
    <h1>fetch-my-yearbook</h1>
    <h2>enter the following details</h2>
    <form action="/process" method="post">
        <label for="email">email: (of the type "*@iitb.ac.in") </label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="checkbox" id="dark_mode" name="dark_mode">
        <label for="dark_mode">Dark mode</label>
        <br>
        <input type="checkbox" id="friends" name="friends">
        <label for="friends">Include friends' yearbooks</label>
        <br><br>
        <button id="subbtn" type="submit">submit</button>
    </form>
</body>
</html>
